// Mixins in here

.center(@j, @a){
    display: flex;
    justify-content: @j;
    align-items: @a;
}

.even-space(){
    display: flex;
    justify-content: space-evenly;
}

.button(@bc, @col){
    background-color: @bc;
    color: @col;
    border-radius: 12px;
    padding: 10px 10px;
    text-align: center;
    font-size: 1.6rem;
}

.column(){
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}
